form {
	all: initial;
	all: unset;
}

input {
	outline-width: 0;
	outline: none;
}

* {
	color-scheme: dark;
}

.titlecards {
	display: flex;
	height: 50px;
	width: 50px;
	border-style: groove;
	/* border-color: #f2eee5; */
}

.fixingspacing {
	display: flex;
	align-content: center;
	justify-content: center;
	box-sizing: border-box;
	height: 100px;
}

.whereboxgoes {
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
}

.deleteOption {
	display: flex;
	display: block;
	text-align: center;
	width: fit-content;
	height: 20px;
	margin: 10px auto 10px auto;
}

.delOrModify {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 15px 0px 15px 0px;
	height: fit-content;
}

.box {
	display: flex;
	text-align: center;
	box-sizing: border-box;
	height: fit-content;
	width: fit-content;
	margin: 50px 10px 0px 10px;
	padding: 10px 5px 10px 5px;
	border: 2px solid rgba(219, 216, 216, 0.5);
}

.wherebookinfogoes {
	display: flex;
	display: block;
	box-sizing: border-box;
	height: 20px;
	width: fit-content;
	align-content: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.allowUserToMakeNewBook {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 7%;
}

#title {
	margin: 5px;
	border: 1px solid gray;
}

#author {
	margin: 5px;
	border: 1px solid gray;
}
#pages {
	margin: 5px;
	border: 1px solid gray;
}

#submit {
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-transform: lowercase;
}

.error {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 5px;
}

.gotdeleted {
	all: unset;
	display: none;
}
