* {
	background: black;
	color: #f2eee5;
}

.titlecards {
	display: flex;
	height: 50px;
	width: 50px;
	border-style: solid;
	border-color: #f2eee5;
}

.whereboxgoes {
	display: flex;
	align-content: center;
	/* justify-content: space-evenly; */
	justify-content: center;
	text-align: center;
}

.box {
	display: flex;
	text-align: center;
	width: fit-content;
	margin: 50px 10px 0px 10px;
	padding: 10px 5px 10px 5px;
	/* margin: 5px; */
	/* padding: 25px; */
	/* height: 50px; */
	/* width: 50px; */
	border-style: solid;
	border-color: #f2eee5;
}
